beautifulsoup4==4.6.0
blinker==1.4
certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
fuzzywuzzy==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.11.3
lxml==4.2.3
MarkupSafe==1.0
marshmallow==3.0.0b13
pkg-resources==0.0.0
psycopg2==2.7.5
python-Levenshtein==0.12.0
requests==2.19.1
SQLAlchemy==1.2.10
urllib3==1.23
Werkzeug==0.14.1
WTForms==2.2.1
