<!DOCTYPE html>
<html>
<head>
    <title>WORKING TITLE</title>
<!--     <link rel="stylesheet" href="...link to .css..." -->
    <script src="http://code.jquery.com/jquery.js"></script>
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

</head>
<body>

<h1>WORKING HEADER</h1>

{% if 'user_id' in session %}
    <a href='/logout'>Logout</a>
{% else %}
    <a href='/login'>Login</a>
{% endif %}

{% for flash in get_flashed_messages() %}
    {{ flash }}
{% endfor %}

{% block content %}

BODY CONTENT GOES HERE

{% endblock %}

</body>
</html>