<!DOCTYPE html>
<html>
<head>
    <title>sPYence</title>
<!--     <link rel="stylesheet" href="...link to .css..." -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#brand_ing_submit_btn").click(function() {
                debugger;
                getInformationFromBackend();
                // get information via POST ca..
            })
        })

        function getInformationFromBackend(){
            $.get( "/search_results", function( data ) {
              $( ".result" ).html( data );
              alert( "Load was performed." );
            });            
        }
        function addInformationToPage(data){

        }
    </script>
</head>
<body>

<h1>sPYence</h1>

{% if 'user_id' in session %}
    <a href='/logout'>Logout</a>
{% else %}
    <a href='/login'>Login</a>
{% endif %}

{% for flash in get_flashed_messages() %}
    {{ flash }}
{% endfor %}

{% block content %}

BODY CONTENT GOES HERE

{% endblock %}
<div class="result">

</div>
</body>
</html>