{% extends "base.html" %}
{% block content %}

    <div>
        <i class="far fa-flag"></i>
        <i class="fas fa-flag"></i>
    </div>

    <div>
        <svg xmlns="http:w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path style="fill:#AB7C94;" d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 9h-2V5h2v6zm0 4h-2v-2h2v2z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
    </div>

    <div class="prod_cards">
        <div class="card-deck" id="prod_cards">
        </div>
    </div>

    <div class="jumbotron" id="jumbotron_1" hidden="true">
    </div>

    <div class="jumbotron" id="jumbotron_2" hidden="true">
    </div>

    <div class="jumbotron" id="jumbotron_3" hidden="true">
    </div>

    <div class="jumbotron" id="jumbotron_4" hidden="true">
    </div>

    <script>

        function renderCards(response) {

            let prods_string = "";
            let prods_card_string = "";
            let brands_string = "";
            let brands_card_string = "";
            let cats_string = "";
            let cats_card_string = "";
            let ings_string = "";
            let ings_card_string = "";
            let flags_string = "";
            let prod_ing_string = "";
            let products = response["products"];
            let brands = response["brands"];
            let categories = response["categories"];
            let ingredients = response["ingredients"];
            let rankings = response["rank"];

            for (let product of products.slice(0, 3)) {
                prods_card_string += 
                    `<div class="card product_card" id="${product.pr_name}">
                        <img class="card-img-top" src="${product.image_url}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">${product.pr_name}</h5>
                            <p class="card-text">${product.brand}</p>
                            <p class="card-text"><small class="text-muted">${product.enabled_flags}</small></p>
                        </div>
                    </div>`;
                prods_string = `<h1 class="display-4" id="product_header">Products</h1><div class="card-deck" id="card_deck_prods">${prods_card_string}</div>`;
            };

            for (let brand of brands.slice(0, 3)) {
                brand_no_space = brand.replace(/\s+/g, '');
                brands_card_string += 
                    `<div class="card brand_card" id="${brand}">
                        <img class="card-img-top" src="//logo.clearbit.com/${brand_no_space}.com" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">${brand}</h5>
                            <p class="card-text">${brand}</p>
                            <p class="card-text"><small class="text-muted">${brand}</small></p>
                        </div>
                    </div>`;
                brands_string = `<h1 class="display-4" id="brand_header">Brands</h1><div class="card-deck" id="card_deck_brands">${brands_card_string}</div>`;
            };

            for (let category of categories.slice(0, 3)) {
                cats_card_string += 
                    `<div class="card cat_card" id="${category}">
                        <img class="card-img-top" src="" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">${category}</h5>
                            <p class="card-text">${category}</p>
                            <p class="card-text"><small class="text-muted">${category}</small></p>
                        </div>
                    </div>`;
                cats_string = `<h1 class="display-4" id="cats_header">Categories</h1><div class="card-deck" id="card_deck_cats">${cats_card_string}</div>`;
            };

            for (let ingredient of ingredients.slice(0, 3)) {
                for (let flag of ingredient["ing_flags"]) {
                    ingredient["ing_flags"] = flag["name"];
                };
                ings_card_string += 
                    `<div class="card ing_card" id="${ingredient["ing_name"]}">
                        <img class="card-img-top" src="" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">${ingredient["ing_name"]}</h5>
                            <p class="card-text">${ingredient["ing_flags"]}</p>
                            <p class="card-text"><small class="text-muted">${ingredient["ing_flags"]}</small></p>
                        </div>
                    </div>`;
                ings_string = `<h1 class="display-4" id="ings_header">Ingredients</h1><div class="card-deck" id="card_deck_ings">${ings_card_string}</div>`;
            };

            if (rankings[0] == "product") {
                $("#jumbotron_1").html(prods_string);
            } else if (rankings[0] == "brand") {
                $("#jumbotron_1").html(brands_string);
            } else if (rankings[0] == "category") {
                $("#jumbotron_1").html(cats_string);
            } else if (rankings[0] == "ingredient") {
                $("#jumbotron_1").html(ings_string);
            };

            if (rankings[1] == "product") {
                $("#jumbotron_2").html(prods_string);
            } else if (rankings[1] == "brand") {
                $("#jumbotron_2").html(brands_string);
            } else if (rankings[1] == "category") {
                $("#jumbotron_2").html(cats_string);
            } else if (rankings[1] == "ingredient") {
                $("#jumbotron_2").html(ings_string);
            };

            if (rankings[2] == "product") {
                $("#jumbotron_3").html(prods_string);
            } else if (rankings[2] == "brand") {
                $("#jumbotron_3").html(brands_string);
            } else if (rankings[2] == "category") {
                $("#jumbotron_3").html(cats_string);
            } else if (rankings[2] == "ingredient") {
                $("#jumbotron_3").html(ings_string);
            };

            if (rankings[3] == "product") {
                $("#jumbotron_4").html(prods_string);
            } else if (rankings[3] == "brand") {
                $("#jumbotron_4").html(brands_string);
            } else if (rankings[3] == "category") {
                $("#jumbotron_4").html(cats_string);
            } else if (rankings[3] == "ingredient") {
                $("#jumbotron_4").html(ings_string);
            };

            $("#jumbotron_1").attr("hidden", false);
            $("#jumbotron_2").attr("hidden", false);
            $("#jumbotron_3").attr("hidden", false);
            $("#jumbotron_4").attr("hidden", false);
        }

        function submitSearch(evt) {
            evt.preventDefault();

            let formInputs = {
                "user_search": $("#user_search").val(),
            };

            $.post('/search_results.json', 
                   formInputs, 
                   renderCards);
        }

        $('#search_form').on('submit', submitSearch)
 
    </script>

    <script>

        function renderFullPageProds(response) {

            let prods = response["products"];
            let prods_card_string = "";

            for (let product of prods.slice(0, 25)) {
                prods_card_string += 
                    `<div class="card" id="${product.pr_name}">
                        <img class="card-img-top" src="${product.image_url}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">${product.pr_name}</h5>
                            <p class="card-text">${product.enabled_flags}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">${product.brand}</small>
                        </div>
                    </div>`;
            };
            $("#jumbotron_1").attr("hidden", true);
            $("#jumbotron_2").attr("hidden", true);
            $("#jumbotron_3").attr("hidden", true);
            $("#jumbotron_4").attr("hidden", true);
            $("#prod_cards").html(prods_card_string);
        };

        function submitCat(evt) {
            evt.preventDefault();

            let id = "";
            let type = "Category";
            id = $(this).attr("id");

            let inputs = {
                "id": id,
                "type": type,
            };

            $.post('/return_products.json', 
                   inputs, 
                   renderFullPageProds);
        };
        
        function submitBrand(evt) {
            evt.preventDefault();

            let id = "";
            let type = "Brand";
            id = $(this).attr("id");

            let inputs = {
                "id": id,
                "type": type,
            };

            $.post('/return_products.json', 
                   inputs, 
                   renderFullPageProds);
        };

        function submitIng(evt) {
            evt.preventDefault();

            let id = "";
            let type = "Ingredient";
            id = $(this).attr("id");

            let inputs = {
                "id": id,
                "type": type,
            };

            $.post('/return_products.json', 
                   inputs, 
                   renderFullPageProds); 
        };

        function submitProdOne(evt) {
            evt.preventDefault();

            let id = "";
            id = $("#card_deck_prods").children(".card").attr("id");

            let inputs = {
                "prod_one": id,
            };

            $.post('/return_products_prod.json', 
                   inputs, 
                   renderFullPageProds);
        };

        $(".jumbotron").on("click", "#product_header", submitProdOne);
        $(".jumbotron").on("click", ".cat_card", submitCat);
        $(".jumbotron").on("click", ".brand_card", submitBrand);
        $(".jumbotron").on("click", ".ing_card", submitIng);


    </script>


{% endblock %}
