{% extends "base.html" %}
{% block content %}


    <div class="result_1">    :D    </div>
    <div class="result_2">    :D    </div>
    <div class="result_3">    :D    </div>
    <div class="result_4">    :D    </div>




    <script>

        function renderProducts(response) {

            let prods_string = "";
            let brands_string = "";
            let cats_string = "";
            let ings_string = "";
            let flags_string = "";
            let prod_ing_string = "";
            let products = response["products"];
            let brands = response["brands"];
            let categories = response["categories"];
            let ingredients = response["ingredients"];
            let rankings = response["rank"];

            for (let product of products) {
                prods_string = prods_string + product.pr_name + " / " + product.flags + " / " + product.brand + " : <br><img src=" + product.image_url + "><br>";
            };
            
            for (let brand of brands) {
                brand_no_space = brand.replace(/\s+/g, '');
                brands_string = brands_string + brand + ": <img src=\"//logo.clearbit.com/" + brand_no_space + ".com\">";
            };

            for (let category of categories) {
                cats_string = cats_string + category;
            };
            for (let ingredient of ingredients) {
                for (let flag of ingredient["ing_flags"]) {
                    ingredient["ing_flags"] = flag["name"];
                };
                ings_string = ings_string + ingredient["ing_name"] + " / " + ingredient["ing_flags"] + "<br>";
            };

            if (rankings[0] == "product") {
                $('.result_1').html(prods_string);
            } else if (rankings[0] == "brand") {
                $('.result_1').html(brands_string);
            } else if (rankings[0] == "category") {
                $('.result_1').html(cats_string);
            } else if (rankings[0] == "ingredient") {
                $('.result_1').html(ings_string);
            };

            if (rankings[1] == "product") {
                $('.result_2').html(prods_string);
            } else if (rankings[1] == "brand") {
                $('.result_2').html(brands_string);
            } else if (rankings[1] == "category") {
                $('.result_2').html(cats_string);
            } else if (rankings[1] == "ingredient") {
                $('.result_2').html(ings_string);
            };

            if (rankings[2] == "product") {
                $('.result_3').html(prods_string);
            } else if (rankings[2] == "brand") {
                $('.result_3').html(brands_string);
            } else if (rankings[2] == "category") {
                $('.result_3').html(cats_string);
            } else if (rankings[2] == "ingredient") {
                $('.result_3').html(ings_string);
            };

            if (rankings[3] == "product") {
                $('.result_4').html(prods_string);
            } else if (rankings[3] == "brand") {
                $('.result_4').html(brands_string);
            } else if (rankings[3] == "category") {
                $('.result_4').html(cats_string);
            } else if (rankings[3] == "ingredient") {
                $('.result_4').html(ings_string);
            };
        }

        function submitSearch(evt) {
            evt.preventDefault();

            let formInputs = {
                "user_search": $("#user_search").val(),
            };

            $.post('/search_results.json', 
                   formInputs, 
                   renderProducts);
        }

        $('#search_form').on('submit', submitSearch);
 
    </script>


{% endblock %}
